// Layout Settings ------------------------------
$layoutBreakpointXS:	 600px !default;
$layoutBreakpointSM:	 960px !default;
$layoutBreakpointMD:	1280px !default;
$layoutBreakpointLG:	1920px !default;


$baseHref: '';

$siteColor: #E62739;
$blackColor: color(Black, Text);
$whiteColor: color(White, Text);